{
	"singleQuote": true,
	"bracketSpacing": false,
	"jsxBracketSameLine": false,
	"useTabs": true,
	"plugins": ["prettier-plugin-tailwindcss"],
	"overrides": [
		{
			"files": ["*.yml"],
			"options": {
				"singleQuote": false
			}
		}
	]
}
